# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/package-lock.json
/npm-debug.log
/yarn-error.log

# environment variables
.env

# IDEs and editors
/.idea
/.vscode
/*.suo
/*.ntvs*
/.vscode

# Mac system files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# NestJS build files
*.js.map

# Typescript cache
*.tsbuildinfo

# Coverage reports
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Debug output
debug
